<script src="{{ root_url }}/javascripts/slash.js"></script>
{% include fancybox.html %} <!-- Delete or comment this line to disable Fancybox -->
{% include disqus.html %}
{% include google_analytics.html %}
{% include custom/after_footer.html %}

<script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F1a3c98825a726bfbf68a83ba97e0b9be' type='text/javascript'%3E%3C/script%3E"));
    </script>
